/******************************************************************
Site Name: 
Author: 

Stylesheet: Larger Laptop + Desktop

You can add some advanced styles for larger devices here if you like. 

******************************************************************/

// body {
//     // Grid
//     display: grid;
//     grid-template-columns: auto 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px auto;
//     width: 100%;
// }

// header { grid-column: 2/13; }

// main { grid-column: 2/13; }

// aside { grid-column: 2/13; }

// footer { grid-column: 1/14; }